html {
    height: 100%;
}

body {
    background: url('/media/bmdesigns-logo-2.jpeg') no-repeat center;
    background-size: cover;
    background-color: #272727;
    background-position: center -350px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 0;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Lato';
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

/* -------------------------------- Index HTML */
.home-link {
    margin-top: 355px;
}

/* -------------------------------- Base HTML */
.navbar {
    max-height: auto;
    background-color: #272727;
}

.nav-item a {
    font-size: 1.2rem;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black,
.category-badge-custom {
    background: white;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* ------------------------------- Footer */

.footer {
    margin-top: auto;
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.text-wrap {
    margin-left: 60px;
}

.social-icon {
    max-width: 80px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

/* -------------------------------- Product Pages */

#details {
    width: 100%;
    height: auto;
}

#product-image {
    width: 100%;
    height: auto;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #272727;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: black !important;
    color: #fff !important;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #495057;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }  
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    text-transform: uppercase;
    margin-top: 1.5rem; /* mt-4 */
    color: black; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #CED4DA;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #495057;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

 /* standard bootstrap btn transitions */
 transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
    background-color: black;
    border-color: black;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

@media (min-width: 992px) {
/* fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 164px;
    }

    body {
        background-size: contain;
        background-position: center 100px;
    }

    .navbar {
        background-color: white;
    }

    .nav-item a {
        color: black !important;
    }
}