html {
    height: 100%;
}

body {
    background: url('/media/bmdesigns-logo-2.jpeg') no-repeat center;
    background-size: cover;
    background-color: #272727;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Lato';
}

/* -------------------------------- Base HTML */
.navbar {
    max-height: auto;
    background-color: #272727;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: white;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* ------------------------------- Footer */

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.text-wrap {
    margin-left: 60px;
}

.social-icon {
    max-width: 80px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

/* -------------------------------- Product Pages */

#details {
    width: 100%;
    height: auto;
}

#product-image {
    width: 100%;
    height: auto;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #272727;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: black !important;
    color: #fff !important;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
        z-index: -1;
    }

    body {
        height: calc(100vh - 116px);
    }

    .navbar {
        background-color: white;
    }

    .nav-item a {
        color: black !important;
    }
}